<%= render partial: 'job_listings/job_listing_header', locals: { job_listing: @job_listing, active_tab: :comments } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="comment-container">
        <h3 class="section-header">Comments</h3>
        <%= form_for [@job_listing, @comment] do |f| %>
            <%= f.hidden_field :job_listing_id, value: @job_listing.id %>
            <div class="field">
              <%= f.text_area :value %>
            </div>

            <%= f.submit 'Submit', class: 'btn' %>
        <% end %>

        <div class="comment-list">
          <%= render @job_listing.comments.order(created_at: :desc) %>
        </div>
      </div>
    </div>
  </div>
</section>