<%= render partial: 'job_listings/job_listing_header', locals: { job_listing: @job_listing, active_tab: :interviews } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="heading-center">
        <h3 class="section-header">Interviews</h3>
        <span class="btn"><%= link_to 'Create New', new_job_listing_interview_path(@job_listing) %></span>
      </div>

      <div class="interview-container">
        <%= link_to '< back', url_for(:back) %>
        <%= render 'shared/flash_messages' %>

        <%= render partial: 'shared/errors', locals: { model: @interview } %>

        <%= form_for [@job_listing, @interview] do |f| %>
            <div class="field">
              <%= f.label :scheduled_at %>
              <%= f.datetime_select :scheduled_at, ampm: true, selected: @interview.scheduled_at.in_time_zone(@interview.time_zone) %>
              <%= f.time_zone_select :time_zone %>
            </div>

            <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location %>
            </div>

            <div class="field editor">
              <%= f.label :description %>
              <%= f.text_area :description %>
            </div>

            <div class="field">
              <%= f.label 'How it went (1-3)' %>
              <%= f.text_field :how_it_went %>
            </div>

            <%= f.submit %>
        <% end %>
      </div>
    </div>

  </div>
</section>