<%= render partial: 'job_listings/job_listing_header', locals: { job_listing: @job_listing, active_tab: :interviews } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="heading-center">
        <h3 class="section-header">New Interview</h3>
      </div>

      <%= link_to '< back', url_for(:back) %>

      <%= render 'shared/flash_messages' %>

      <%= render partial: 'shared/errors', locals: { model: @job_listing } %>

      <%= form_for [@job_listing, @interview] do |f| %>
          <div class="field">
            <%= f.label :scheduled_at %>
            <%= f.datetime_select :scheduled_at, ampm: true %>
            <%= f.time_zone_select :time_zone %>
          </div>

          <div class="field">
            <%= f.label :location %>
            <%= f.text_field :location %>
          </div>

          <div class="field editor">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>

          <%= f.submit %>
      <% end %>
    </div>

  </div>
</section>