<%= render partial: 'job_listings/job_listing_header', locals: { job_listing: @job_listing, active_tab: :interviews } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="heading-center">
        <h3 class="section-header">Interviews</h3>
        <span class="btn"><%= link_to 'Create New', new_job_listing_interview_path(@job_listing) %></span>
      </div>

      <div class="interview-container">
        <%= link_to '< back', url_for(:back) %>
        <br>
        <span class="edit-link">(<%= link_to 'edit', edit_job_listing_interview_path(id: @interview.id) %>)</span>
        <div class="interview">
          <h3 class="section-header">Information</h3>
          <span class="sub-heading"><strong>Location: </strong><%= @interview.location %></span>
          <span><strong>Day/time: </strong><%= @interview.scheduled_at.in_time_zone(@interview.time_zone).strftime("%B %d, %Y %I:%M %p") + " - #{@interview.time_zone}" %></span>
          <br>
          <span><strong>How it went: </strong><%= @interview.how_it_went || '-' %>/3</span>

          <div class="interview-description">
            <h3 class="section-header">Description</h3>
            <%= sanitize @interview.description, tags: %w(br div p em a ul old li strong) %>
          </div>

          <div class="interview-comments">
            <h3 class="section-header">Comments</h3>
            <%= form_for [@job_listing, @interview, Comment.new] do |f| %>
                <%= f.hidden_field :job_listing_id, value: @job_listing.id %>
                <%= f.hidden_field :interview_id, value: @interview.id %>

                <div class="field">
                  <%= f.text_area :value %>
                </div>

                <%= f.submit 'Submit', class: 'btn' %>
            <% end %>

            <div class="comment-list">
              <%= render @interview.comments %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>