<%= provide(:title, 'Job Listings') %>

<div class="heading-center">
  <h1>Job Listings</h1>

  <span class="btn"><%= link_to 'Create New', new_job_listing_path %></span>
</div>


<section class="light-bg">
  <div class="listing-container">
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
    <%= render 'listing' %>
  </div>

</section>
