<%= render partial: 'job_listing_header', locals: { job_listing: @job_listing, active_tab: :details } %>

<section class="light-bg">
  <div class="content">
    <div class="content-container">
      <div class="position-description">
        <div class="brief-description">
          <h3 class="section-header"><%= @job_listing.position %></h3>
          <span class="sub-heading"><%= @job_listing.company %></span>
          <%= link_to @job_listing.company_website, @job_listing.company_website, target: '_blank' if @job_listing.company_website.present? %>
        </div>

        <div class="full-description">
          <h3 class="section-header">Description</h3>
          <%= sanitize @job_listing.description, tags: %w(br div p em a ul old li strong) %>
        </div>

        <span class="btn btn-center"><%= link_to 'Apply', @job_listing.apply_link, target: '_blank' if @job_listing.apply_link.present? %></span>
      </div>
    </div>
  </div>
</section>